<!--  Start your Copy-and-Paste Selection Here...  //-->

<style type="text/css">

Body {font-family : "Courier New", Courier, "Andale Mono", Monospace; background-color : #FFFFFF; color : #000000; font-size : 8pt;}

A:link {color : #0000FF; font-weight : normal; text-decoration : underline; background : none;}

A:visited {color : #800080; font-weight : normal; text-decoration : overline; background : none;}

A:hover {color : #008000; font-weight : normal; text-decoration : none; background : none;}

A:active {color : #800080; font-weight : normal; text-decoration : underline; background : none;}

</style>

<!--  Stop Copy-and-Paste Here...  //-->

<!--  };-) http://jdstiles.com/  //-->
